.button {
    background-color: #F36F02;
    border-radius: 100px;
}

.bundles {
    background-color: #FFF;
    color: #0568AE;
    width: 100%;
    margin-top: 51px;
    margin-bottom: 44px;
}
.button.secondary {
    background-color: #0078B7;
    color: #fff;
}
.button.postfix {
    border-radius: 0 100px 100px 0;;
    background-color: #0078B7;
    height: 60px;
    line-height: 60px;
}
.bundles-mobile {
    background-color: #FFF;
    border: 2px solid #F2F2F2;
    color: #0469AE;
    width: 100%;
    margin-top: 0;
    margin-bottom: 43px;
}