.header {
    .directv-logo-wrap {
        margin-top: 27px;
        margin-bottom: 19px;
    }
    .nav-wrap {
        margin-top: 32px;
        margin-bottom: 31px;
        .nav {
            &__list {
                margin: 0 auto;
                li a {
                    color: white;
                    font-size: 15px;
                }
            }
        }
    }
    .phone-wrap {
        margin-top: 24px;
        margin-bottom: 28px;
        span {
            color: #fff;
            font-size: 12px;
        }
        p {
            display: inline;
            margin-bottom: 0;
            color: #009BDE;
            font-size: 24px;
        }
        @media screen and (max-width: 320px) {
            margin: 0;
        }
    }

    .header-row-mobile {
        .bar-wrap {
            .fa-bars {
                color: #FFF;
                margin-top: 20px;
                margin-bottom: 22px;
            }
        }
        .directv-logo-wrap {
            margin-top: 16px;
            margin-bottom: 19px;
        }
        .phone-wrap {
            margin-top: 10px;
            margin-bottom: 10px;            
            a {
                border: 2px solid #009FDB;
                border-radius: 100px;
                color: #009FDB;
                padding: 11px 20px 11px 18px;
            }
        }
    }
}