.section {
    @media screen and (max-width: 320px) {
        text-align: center;
    }
 }
.section--hero {
    background-image: url(../img/home-hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;   
    padding-top: 57px;
    .hero-content {
        // margin-top: 57px;
        // margin-bottom: 66px;
        color: #fff;
        h1 {
            color: #fff;
            font-size: 45px;
        }
        &__text {
            font-size: 18px;
        }
        @media screen and (max-width: 320px) {
            margin-top: 50px;
            h1 {
                font-size: 30px;
            }
            &__text {
                font-size: 16px;
            }
        }
    }    
    @media screen and (max-width: 320px) {
        background-image: url(../img/home-hero-bg.jpg);
        background-size: 320px;
        background-position: -100px top;
    }
}//.section--hero
.section--details {
    background-color: #fff;
}//.section--details

.section--shop-bundles {
    background-color: #0568AE;
    &__text {
        color: #FFF;
        font-size: 34px;
        margin-top: 53px;
        margin-bottom: 50px;
    
    }
}//.section--shop-bundles
.section--shop-bundles-mobile {
    background-color: #FFF;
    padding-top: 41px;
    border-bottom: 2px solid #F2F2F2;
    &__text {
        color: #000;
        font-size: 28px;
    }
}
.section--plans {
    background-color: #FFF;
    padding-top: 81px;
    .postfix-round {
        .small-9 {
            input {
                border-radius: 100px 0 0 100px;
                height: 60px;
            }
            input::placeholder {
                position: relative;
                left: 50px;
                font-style: italic;
            }
            img {
                position: absolute;
                top: 15px;
                left: 25px;
            }
        }
    }

}

.section--hero__bundles {
    background-image: url(../img/bundles-hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;   
    // height: 390px;
    padding-top: 57px;
    padding-bottom: 66px;
    .hero-content {
        // margin-top: 57px;
        // margin-bottom: 66px;
        color: #fff;
        h1 {
            color: #fff;
        }
        &__subtext {
            font-size: 11px;
        }
    }    

}//.section--hero__bundles
.section--hero__customer {
    background-image: url(../img/customer-hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;   
    // height: 390px;
    padding-top: 57px;
    .hero-content {
        // margin-top: 57px;
        // margin-bottom: 66px;
        color: #fff;
        h1 {
            color: #fff;
        }
        &__subtext {
            font-size: 11px;
        }
    }    

}//.section--hero__bundles